<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="lib/collide/collide.js"></script>
    <script src="lib/ionic-ion-tinder-cards/ionic.tdcards.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <!-------- BODY ---------->
  <body ng-app="starter" no-scroll>
    <div ng-controller="CardsCtrl">
      <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </div>

  </body>
  <!-------- BODY ---------->




  <!-- home.html -->
  <script id="home.html" type="text/ng-template">
    <ion-view>

      <!-- ng-cloak is used to hide content until the page is fully loaded, preventing a "Flash of Unstyled Content", or FOUC -->
      <ion-pane ng-controller="CardsCtrl" ng-cloak>
        <ion-header-bar class="bar-calm">
          <h1 class="title">Flashcard Alpha Omega</h1>
        </ion-header-bar>

        <ion-content padding="true">
          <h3>Use flashcards to help memorize anything quickly.</h3>

          <ul>
            <li>* Add new "Questions" and "Answers"</li>
            <li>* When you're ready to test your knowledge, click "Begin"</li>
            <li>* After each question is displayed, try to answer it!</li>
            <li>* Click the "show answer" button to see if you got it right</li>
            <li>* Swipe RIGHT for each correct answer, swipe LEFT for incorrect!</li>
          </ul>

          <a class="button button-positive button-full icon-right ion-chevron-right" href="#/add-cards">
            Start adding questions
          </a>

        </ion-content>
      </ion-pane>

    </ion-view>
  </script>


  <!-- add-cards.html -->
  <script id="add-cards.html" type="text/ng-template">
  <ion-view>
    <ion-header-bar class="bar-calm">
      <h1 class="title">Flashcard Alpha Omega</h1>
    </ion-header-bar>
    <div class="bar bar-subheader">
      <h2 class="title">Add Questions & Answers</h2>
    </div>

    <ion-content class="has-header has-subheader">
      <form ng-submit="addQuestion(newCardData.question, newCardData.answer)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Flashcard Question" ng-model="newCardData.question">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Answer" ng-model="newCardData.answer">
          </label>
        </div>
        <button type="submit" class="button button-positive">Add Question</button>

        <a class="button button-balanced pull-right" href="#/cards">Start Test</a>
      </form>


      <div style="margin-top: 15px; font-weight: bold;">Questions:</div>
      <div ng-repeat="card in cards" style="border: 1px solid grey;">
        <div>Question: {{ card.question }}</div>
        <div>Answer: {{ card.answer }}</div>
        <div><a class="small" href ng-click="cards.splice($index, 1)">(Delete Question)</a></div>
      </div>
    </ion-content>

  </ion-view>
  </script>

  <!-- cards.html  -->
  <script id="cards.html" type="text/ng-template">
    <ion-view>
      <ion-nav-bar class="bar-calm">
        <ion-nav-back-button class="button-clear">
          <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
        <ion-nav-title>Flashcard Alpha Omega</ion-nav-title>
      </ion-nav-bar>


      <td-cards>
        <td-card id="td-card" ng-repeat="card in cards"
                 on-destroy="cardDestroyed($index)"
                 on-swipe-left="cardSwipedLeft($index)"
                 on-swipe-right="cardSwipedRight($index)"
                 on-partial-swipe="cardPartialSwipe(amt)"
                 ng-click="card.showAnswer = !card.showAnswer"
                  style="cursor: pointer; cursor: hand;">

          <div class="title question" ng-hide="card.showAnswer">
            {{ card.question }}
          </div>
          <div class="title answer" ng-show="card.showAnswer" ng-click="card.showAnswer = false">
            {{ card.answer }}
          </div>

          <div class="image">
            <div class="no-text overlayBox">
              <div class="noBox boxed">Wrong</div>
            </div>
            <!--img ng-src="{{ card.image }}"-->
            <div class="yes-text overlayBox">
              <div class="yesBox boxed" id="centerme">Right!</div>
            </div>
          </div>
        </td-card>
      </td-cards>
    </ion-view>
  </script>
</html>
